.UserForm > form
{
  margin-top: 0.63em;
  margin-bottom: 1.88em;
}

.UserForm > form > div
{
  margin-bottom: 0.38em;
}

.UserForm > form > div > label
{
  margin-top: auto;
  margin-bottom: auto;
  min-width: 6.25em;
}

.UserForm > form > div > select
{
  width: 100%;
}

.UserForm .SuccessMessage,
.UserForm .ErrorMessage
{
  margin-top: 1.25em;
  margin-bottom: 0.38em;
  text-align: center;
}

.UserForm > form > div:nth-child(7)
{
  margin-top: 1.25em;
}

.UserForm > form > div > button:first-child
{
  margin-left: auto;
  margin-right: 0.63em;
}
