.UserPasswordForm > form
{
  margin-top: 0.63em;
}

.UserPasswordForm > form > div
{
  margin-bottom: 0.38em;
}

.UserPasswordForm > form > div > label
{
	min-width: 12.5em;

  margin-top: auto;
  margin-bottom: auto;
}

.UserPasswordForm .SuccessMessage,
.UserPasswordForm .ErrorMessage
{
  margin-top: 1.25em;
  margin-bottom: 0.63em;
  text-align: center;
}

.UserPasswordForm > form > button
{
  margin-top: 1.25em;
	margin-left: auto;
}