.ArticleCenterbox > div > div
{
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.ArticleCenterbox > div > p
{
  text-align: justify;
  margin-top: 0px;
  margin-bottom: 0px;
}

.ArticleCenterbox > div > div > div:not(:last-child)
{
  margin-bottom: 2em;
}

.ArticleCenterbox > div > div > div > img
{
  max-width: 30%;
  max-height: 20vw;

  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.ArticleCenterbox > div > a
{
  color: #101010;
  text-decoration-line: none;
}

.ArticleCenterbox > div > a:hover
{
  cursor: pointer;
  text-decoration-line: underline;
}

.ArticleCenterbox > div > a:active
{
  color: #1432a0;
  text-decoration-line: underline;
}

.ArticleCenterbox > div > a:first-child
{
  margin-top: 1em;
}

.ArticleCenterbox > div > a:not(:last-child)
{
  margin-bottom: 0.4em;
}

.ArticleCenterbox > div > a:last-child
{
  margin-bottom: 1em;
}