.DeleteUserForm > form
{
  margin-top: 0.63em;
}

.DeleteArticleForm > form > div
{
  margin-bottom: 0.38em;
}

.DeleteUserForm > form > div > label
{
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 0.63em;
}

.DeleteUserForm .SuccessMessage,
.DeleteUserForm .ErrorMessage
{
  margin-top: 1.25em;
  margin-bottom: 0.38em;
  text-align: center;
}

.DeleteUserForm > form > button
{
	margin-top: 1.25em;
	margin-left: auto;
}
