.AccountAccess
{
  width: 30%;
  position: relative;
}

.AccountAccess > div
{
  justify-content: flex-end;
}

.AccountAccess > div > button
{
  font-size: 1em;
  color: white;
  font-weight: bold;
  background-color: #1432a0;

  border-color: #1432a0;
  border-style: solid;
  border-radius: 0.25em;

  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 0.38em;
  padding-right: 0.38em;
}

.AccountAccess > div > button:hover
{
  cursor: pointer;
  background-color: transparent;
}

.AccountAccess > div > button:focus
{
  outline: none;
}

.AccountAccess > div > button:first-child
{
  margin-right: 0.63em;
}

.AccountAccess > div > .Dropdown
{
  width: 17.25em;
}