body
{
  margin: 0px;
  background: #dddddd;
  color: #202020;

  min-width: 960px;
  height: 100%;
  position: relative;
}

.RowLinedFlex
{
  display: flex;
  flex-direction: column;
}

.ColLinedFlex
{
  display: flex;
  flex-direction: row;
}

.MidArea
{
  min-height: 30em;
  
  margin-top: -5em;
  padding-bottom: 5em;

  align-items: flex-start;
  justify-content: space-between;
}

.MidArea > :first-child
{
  margin-left: 1em;
}

.MidArea > :last-child
{
  margin-right: 1em;
}

.Contentbox
{
  background: white;

  padding: 1.25em;

  border-radius: 0.25em;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.ListCenterBoxContent
{
  margin-bottom: 3.13em !important;
}

.ListCenterBoxContent > h1
{
	text-align: center;
	margin-top: 0px;

	overflow: hidden; 
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.ListCenterboxItem:hover
{
	cursor: pointer;
	background: #DFDFDF;
}

.ListCenterboxItem > p
{
	overflow: hidden; 
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
}

.ListCenterboxItem:hover > h2
{
	color: #1432a0;
}

.ListCenterboxMessage
{
	text-align: center;
}

.Sidebox
{
  min-width: 12%;
  max-width: 12%;

  padding-left: 0.63em;
  padding-right: 0.63em;

  text-align: center;
}

.Sidebox > h3:first-child
{
  color: #1432a0;
  font-weight: bold;

  margin-top: 0px;

  text-align: center;
}

.Sidebox > div
{
  color: #101010;
  text-decoration-line: none;

  margin-bottom: 0.25em;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Sidebox > div > span:hover
{
  cursor: pointer;
  text-decoration-line: underline;
}

.Sidebox > div > span:active
{
  color: #1432a0;
  text-decoration-line: underline;
}

.Centerbox
{
  text-align: left;

  min-width: 62%;
  max-width: 62%;
}

.Centerbox > div:not(:last-child)
{
  margin-bottom: 1.9em;
}

.Centerbox > div > h2,
.Centerbox h2
{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  border-style: solid;
  border-bottom-width: 0.1em;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;

  margin-top: 0px;
}

.Dropdown
{
  display: none;
  position: absolute;
  z-index: 1;

  padding: 0.75em;
  justify-content: center;
  border-radius: 0.25em;

  background-color: white;
  box-shadow: 0px 0.5em 1em 0px rgba(0,0,0,0.2);
}

.TextField,
.TextArea
{
  -webkit-flex: 1;
  flex: 1;
  font-size: 1em;

  border-color: #202020;
  border-style: solid;
  border-radius: 0.25em;
  border-width: 0.07em;

  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-right: 0.38em;
  padding-left: 0.38em;
}

.TextField:focus,
.TextArea:focus,
.ButtonBlack:focus,
.Dropdownlist:focus
{
  outline: none;
  box-shadow: none;
}

.TextField:disabled,
.TextArea:disabled
{
  color: #202020;
  background: #dddddd;
}

.ButtonBlack
{
  font-size: 1em;
  color: white;
  font-weight: bold;
  background-color: #202020;

  border-color: #202020;
  border-style: solid;
  border-radius: 0.25em;

  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 0.38em;
  padding-right: 0.38em;
}

.ButtonBlack:hover
{
  cursor: pointer;
  background-color: transparent;
  color: #202020;
}

.Dropdownlist
{
  background: white;
  font-size: 1em;

  border-color: #202020;
  border-style: solid;
  border-radius: 0.25em;
  border-width: 0.07em;

  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-right: 0.38em;
  padding-left: 0.38em;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.Dropdownlist:hover
{
  cursor: pointer;
  background:#DFDFDF;
}

.SuccessMessage
{
  color: #397d02;
}

.ErrorMessage
{
  color: #d22020;
}

.Hidden
{
  display: none;
}