.SubContentForm > p
{
  margin-bottom: 2em;
}

.SubContentForm > form
{
  margin-top: 0.63em;
}

.SubContentForm > form > div
{
  margin-bottom: 0.38em;
}

.SubContentForm > form > div:first-child > label
{
  margin-top: auto;
  margin-bottom: auto;
}

.SubContentForm > form > div > label
{
  min-width: 5.63em;
}

.SubContentForm > form > div > select
{
  width: 100%;
}

.SubContentForm > form > div > textarea
{
  min-height: 20em;
  max-height: 40em;
}

.SubContentForm .SuccessMessage,
.SubContentForm .ErrorMessage
{
  margin-top: 1.25em;
  margin-bottom: 0.38em;
  text-align: center;
}

.SubContentFormButtonArea
{
  margin-top: 1.25em;
}

.SubContentFormButtonArea > button:not(:last-child)
{
  margin-right: 0.63em;
}

.SubContentFormButtonArea > .ConfirmButton
{
  margin-left: auto;
}
